<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ToDo App</title>
    </head>
    <body>
        <h1>To Do</h1>
        <form method='POST' action=''>
            {% csrf_token %}
            {{ form.title }}
            <input type='submit' value:'submit'>
        </form>
        {% for task in tasks %}
            <a href="{% url 'update' task.id %}">Update</a>
            <a href="{% url 'delete' task.id %}">Delete</a>
            <br>
            {% if task.completed == True %}
            <strike>{{ task }}</strike>
            {% else %}
            <span>{{ task }}</span>
            {% endif %}
            <br><br>
        {% endfor %}
    </body>
</html>