{% extends 'tasks/base.html' %}
{% block head %}
    <title>ToDo</title>
	<style>
        input{
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			box-sizing: border-box;
		}
    </style>
{% endblock %}
{% block body %}
	<div class="todo-form">
		<h1>To-Do List</h1>
		<form method='POST' action=''>
			{% csrf_token %}
			{{ form.title }}
			<input class="btn btn-warning" style="font-size: 1.2rem;" type='submit' value:'Submit'>
		</form>
		<br><br><br>
		<div class="todo-list" style="font-size: 1.2rem;">
			<table class="table table-dark">
				<thead>
					<tr>
						<td>Sr.No</td>
						<td>Task</td>
						<td>Status</td>
						<td>Action</td>
						<td>Created</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
				{% for task in tasks %}
					{% if task.completed == True %}
						<tr class="table-active">
						<td>{{ forloop.counter }}</td>
						<td ><span>{{ task }}</span></td>
						<td><span style="color: white;">Completed</span></td>
					{% else %}
						<tr>
						<td>{{ forloop.counter }}</td>
						<td><span>{{ task }}</span></td>
						<td><span style="color: white;">Pending</span></td>
					{% endif %}
					<td>
						<a class="btn btn-sm btn-primary" style="margin-right: 10px;" href="{% url 'update' task.id %}">Update</a>
						<a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>
					</td>
					<td>{{ task.created | date }}</td>
					{% if not task.completed %}
					<td>
						<a class="btn btn-sm btn-success" href="{% url 'done' task.id %}">Done</a>
					</td>
					{% else %}
					<td></td>
					{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
  